<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.reactnativetwiliophone"
>

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <application
    tools:node="merge">

    <service android:name="com.reactnativetwiliophone.boradcastReceivers.NotificationsHeadlessReceiver"/>

    <service
      android:name="com.reactnativetwiliophone.callView.ViewService"
      android:enabled="true"
      android:exported="false"/>

    <service
      android:name="com.reactnativetwiliophone.callView.RingtonePlayingService"
      android:enabled="true"
      android:exported="false"/>
  </application>

  </manifest>
